@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Josefin+Sans:wght@600;700&display=swap');

:root{
      --yello-theme : #fffb00;
      --hover-colour : #fff200;
      --font : 'Josefin Sans', sans-serif;
}
::placeholder{
      font-family: var(--font);
      font-size: 1.2rem;
}

body{
      margin: 0%;
      font-family: var(--font);
      background-color: var(--yello-theme);
}

.page-header{
      padding: 2rem;
      text-align: center;
      font-size: 1.4rem;
}

#main{
      padding: 2rem 6rem;
      display: flex;
      justify-content: space-between;
}
.box-field{
      width: 30vw;
      height: 40vh;
      border: 0.125rem solid black;
      border-radius: 0.15rem;
      font-size: 1.35rem;
      font-family: var(--font);
      background-color: var(--yello-theme);
      padding: 0.8rem;
      resize: none;
}

#btn-translate{
      margin: auto;
      border: none;
      font-size: 1.4rem;
      font-family: var(--font);
      background-color: var(--yello-theme);
}
#btn-translate:hover{
      font-size: 1.8rem;
      transition: .22s;
}

@media only screen and (max-width : 650px){
      #main{
            display: block;
            padding: 5% 15%;
      }
      .box-field{
            width:65vw;
            height: 35vh;
      }
      #btn-translate{
            padding: 6%;
            display: flex;
      }
}